{% extends "briskbrick/app_nav.html" %} {% load static %} {% block content %}
<link rel="stylesheet" href="{% static 'css/style.css' %}" />
<div class="letter">
  <h2>My Letter</h2>
  <a href="{% url 'briskbrick:letter_create' %}" class="add">Add Letter</a>
  <ul>
    {% for letter in letters %}
    <li>
      {{ letter.subject }}
      <a href="{% url 'briskbrick:letter_delete' letter.id %}">Delete</a>
    </li>
    {% empty %}
    <h5>No letter found</h5>
    {% endfor %}
  </ul>
</div>
{% endblock content %}
